/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-image: url(/assets/img/houseMorty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}

@font-face{
    font-family: MortyFont;
    src: url(/assets/fonts/get-schwifty/get_schwifty.ttf);
}
@font-face{
    font-family: Mishfits;
    src: url(/assets/fonts/misfits/MISFITS_.TTF);
}
@font-face{
    font-family: Shlop;
    src: url(/assets/fonts/shlop/shlop\ rg.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


/*Estils genèrics de qualsevol projecte*/
*{box-sizing:border-box;}

.clear{clear:both;}

.container{
    width:100%;
	max-width:1080px;
	margin:0 auto;
	position:relative;
}

.container-fluid{
    width:100%;
	float:left;
}

.row{
    clear:both;
}

/* Sistema 12 columnes */
[class*="col-"]{
    float:left;
	width:100%;
	/* border:1px solid red; */
	padding:15px;
}

[class*="d-"]{
    display:block;
}
/*              STYLE GRID RESPONSIVE CSS                */

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:280px) {
    .col-xs-1 {width: 8.33%;}
	.col-xs-2 {width: 16.66%;}
	.col-xs-3 {width: 25%;}
	.col-xs-4 {width: 33.33%;}
	.col-xs-5 {width: 41.66%;}
	.col-xs-6 {width: 50%;}
	.col-xs-7 {width: 58.33%;}
	.col-xs-8 {width: 66.66%;}
	.col-xs-9 {width: 75%;}
	.col-xs-10 {width: 83.33%;}
	.col-xs-11 {width: 91.66%;}
	.col-xs-12 {width: 100%;}

	.d-xs-none{display:none;}
	.d-xs-block{display:block;}

}

/* portrait tablets, portrait iPad, landscape e-readers,
landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
    .col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}

	.d-sm-none{display:none;}
	.d-sm-block{display:block;}
}

/* tablet, landscape iPad,
lo-res laptops ands desktops */
@media (min-width:961px) {
    .col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}

	.d-md-none{display:none;}
	.d-md-block{display:block;}
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    .col-lg-1 {width: 8.33%;}
	.col-lg-2 {width: 16.66%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}

	.d-lg-none{display:none;}
	.d-lg-block{display:block;}
}

#header_container{
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #b8dc74;
}
.header_container__title{
    font-family: MortyFont;
    color: #06b1c5;
    font-size: 3.5em;
    font-weight: bold;
    /* color: #06b1c5; */
    text-shadow: -2px 0 #b8dc74, 0 2px #b8dc74, 2px 0 #b8dc74, 0 -2px #b8dc74;
}

#aside_container{
    /* border: 1px solid red; */
    min-height: 630px;
    max-height: 630px;
    overflow-y: scroll;
}
.aside_container__episodes{
    padding: 1em 0;
    margin: 8px 0;
    background-image: url(/assets/img/gusano.jpg);
    background-size: cover;
    /* border: 1px solid red; */
    text-align: center;
    font-weight: bold;
}
.aside_container__episodes:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
}

.aside_container__btn{
    padding: 1em;
    background-color: #06b1c5;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    /* outline: none; */
}
.aside_container__btn:hover{
    background-color: #0495a5;
}


#main_container{
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 630px;
    max-height: 630px;
    /* background-image: url(/assets/img/hachaMorty.jpg); */
    background-size: cover;
}
.main_container_episode__title{
    margin-left: 0.5em;
    font-family: Mishfits;
    font-size: 3em;
    color: #06b1c5;
    text-shadow: -2px 0 #b8dc74, 0 2px #b8dc74, 2px 0 #b8dc74, 0 -2px #b8dc74;
}
.main_container_episode__info{
    margin: 0.25em 0 0.5em 0.75em;
    font-family: Shlop;
    font-size: 2em;
    color: #06b1c5;
    text-shadow: -2px #b8dc74, 2px #b8dc74, 2px #b8dc74, -2px #b8dc74;
}

.main_container_character{
    /* border: 1px solid red; */
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    min-height: 500px;
    max-height: 500px;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
}
.main_container_character__info{
    margin: 5px 25px;
    width: 185px;
}
.main_container_character::-webkit-scrollbar{
    -webkit-appearance: none;
}
.main_container_character_info__img{
    width: 188px;
    cursor: pointer;
}
.main_container_character_info__status{
    /* color: #00b0c4; */
}
.main_container__modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 35%;
    width: 500px;
    height: 600px;
    background-color: rgb(244,244,244);
    color: black;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.15em;
    border: 4px solid black;
    border-radius: 8px;
    /* margin: 8px 0; */
}
.main_container_modal__div{
    padding: 10px 0;
}
.main_container_modal__close{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 0.5em;
}
.main_container_modal__close:hover{
    fill: red;
}
/* #Capa_1:hover{
    color: red;
} */
.main_container_modal__img{
    margin: 70px 0 20px 0;
    width: 250px;
    border-radius: 5px;
    /* border: 2px solid black; */
    box-shadow: 5px 5px 15px rgba(77, 77, 77, 0.466);
}
.main_container_modal__name{
    font-size: 1.5em;
    margin: 6px 0;
}
.main_container_modal__status,
.main_container_modal__specie,
.main_container_modal__gender,
.main_container_modal__origin{
    margin: 5px 0;
}